.chapters__title {
    font-family: 'WF','Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    width: 926px;
    padding-bottom: 46px;
    border: none;
    background-color: rgba(0, 0, 0, .0);
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    margin: 0 auto;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-top: 36px;
}

.chapters__title:first-of-type {
    margin-top: 170px;
}

.chapters__title:hover {
opacity: 0.6;
}

@media screen and (max-width: 927px) {
    .chapters__title {
        width: 600px;
    }  
}

@media screen and (max-width: 800px) {
    .chapters__title {
        width: 400px;
    }  
}

@media screen and (max-width: 400px) {
    .chapters__title {
        width: 290px;
    }  
}