.notion__subtitle {
    font-family: 'WF', 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    margin: 0;
    margin-top: 10px;
    margin-left: 12px;
}