.slaider__image {
    display: block;
    max-width: 569px;
    max-height: 397px;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 31px;
}

@media screen and (max-width: 800px) {
    .slaider__image {
        max-height: 370px;
        max-width: 370px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }  
}

@media screen and (max-width: 400px) {
    .slaider__image {
        height: 220px;
        width: 270px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }  
}