.main__title {
    font-family: 'WF', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    width: 674px;
    margin: 0 auto;
    border-bottom: 1px solid #3A543E;
    padding-bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .main__title {
        width: 280px;
        font-size: 39px;
        line-height: 40px;
        margin: 0 auto;
    }  
}

@media screen and (max-width: 800px) {
    .main__title {
        min-width: 280px;
        max-width: 400px;
    }  
}