/*.main__text {
    font-family: 'PT Sans', 'Arial', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 676px;
    margin: 0 auto;
    padding-top: 35px;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .main__text {
        min-width: 280px;
        max-width: 400px;
        margin: 0 auto;
    }  
}

@media screen and (max-width: 400px) {
    .main__text {
        width: 280px;
        font-size: 18px;
        line-height: 20px;
        margin: 0 auto;
    }  
}

