.about-project__paragraph{
    width: 1163px;
    height: 330px;
    font-family: WF, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    margin: 0 auto 0 32px;
}