.about-project__paragraph{
    max-width: 1163px;
    margin: 0 auto 0 0;
    padding: 0 16px;
    color: #323232;
}


@media screen and (max-width: 768px ) {
    .about-project__paragraph{
        max-width: 676px;
        padding: 0;
    }
}

@media screen and (max-width: 620px ) {
    .about-project__paragraph{
        padding: 0;
    }
}