.text__WF-h1-46px{
    font-family: 'WF', Arial, Helvetica, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    color: #323232;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .text__WF-h1-46px {
        font-size: 30px;
        line-height: 37px;
    }
    
}

@media screen and (max-width: 620px) {
    .text__WF-h1-46px {
        font-size: 26px;
        line-height: 26px;
    }
    
}