.button-rectangle_style_green {
	background-color: #A5CDAB;
	color: black;
}

.button-rectangle_style_green:hover {
	background-color: #97BA9C;
}

.button-rectangle_style_green:active {
	background-color: #7A9F80;
}