.main__quote {
    font-family: 'WF','Arial', sans-serif;;;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #3A543E;
    width: 676px;
    margin: 33px auto 0;
    padding-left: 10px;
    border-left: 2px solid #3A543E;;
}

@media screen and (max-width: 400px) {
    .main__quote {
        width: 280px;
        font-size: 18px;
        line-height: 20px;
        margin: 0 auto;
        margin-top: 15px;
        padding-left: 5px;
    }  
}

@media screen and (max-width: 800px) {
    .main__quote {
        min-width: 280px;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 15px;
        padding-left: 5px;
    }  
}