.media__title-button-desktop{
    display: flex;
    margin: 0;
    padding-right: 5px;
    align-items: center;
    gap: 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .media__title-button-desktop{
        display: none;
        }
}