.footer__menu {
        padding: 0;
        margin:0;
        display: flex;
        flex-direction: row;
        gap: 60px;
        text-transform:uppercase;
        list-style: none;
}
@media screen and (max-width: 930px) {
     .footer__menu {
        font-size: 14px;
        line-height: 18px;
        gap:60.75px;
        justify-content: space-between;
        max-width: 612px;
        width: 100%;
      }
}
@media screen and (max-width: 630px) {
        .footer__menu {
           justify-content: center;
           flex-wrap: wrap;
           gap: 20px 32px;
           padding: 0 45px;
           max-width: 598px;
           width: 100%;
         }
   }