.footer__menu {
        padding: 0;
        margin:0;
        display: flex;
        flex-direction: row;
        gap: 60px;

        list-style: none;
}
@media screen and (max-width: 930px) {
     .footer__menu {
        font-size: 14px;
        line-height: 18px;
        gap:unset;
        justify-content: space-between;
        padding: 0 61px;
        max-width: 598px;
        width: 100%;
      }
}
@media screen and (max-width: 620px) {
        .footer__menu {
           text-transform:uppercase;
           justify-content: center;
           flex-wrap: wrap;
           gap: 20px 32px;
           padding: 0 45px;
           max-width: 598px;
           width: 100%;
         }
   }