.magazine__sort_items {
    margin: 32px auto auto;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 52px;
}

@media screen and (max-width: 768px) {
    .magazine__sort_items {
        margin-top: 16px;
    }
}