.tipical-img__picture {
    display: block;
    width: 235px;
    height: 461px;
    margin: 0 auto;
    padding-top: 25px;
}

@media screen and (max-width: 400px) {
    .tipical-img__picture {
        height: 240px;
    }  
}