.mini-pop-up {
	max-width: 237px;
	min-height: 132px;
	position: sticky;
	float: right;
	top: 120px;
	right: 70px;
	z-index: 2;
	background-color: #A5CDAB;
	box-sizing: border-box;
	padding: 16px 33px 16px 24px;
}