.special-projects__column-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 28px 31.45px 17px;
}

@media screen and (max-width: 768px) {
   .special-projects__column-text {
      padding: 12px 8px;
      margin: 0;
      height: 100%;
      border: 1px solid #A5CDAB;
   }
}