.slider-3d {
    display: none;
    grid-area: cards;
    position: relative;
    height: 348px;
    margin: 24px auto 0px;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow-x: unset;

}

@media screen and (max-width:360px){
    

.slider-3d {
    display: block;

}
}