.special-projects__image {
   width: 100%;
   min-width: 212px;
   min-height: 352px;
   object-fit: cover;
}

@media screen and (max-width: 768px) {
   .special-projects__image {
      min-width: 359px;
      max-height: 182px;
      min-height: 182px;
      object-position: top;
   }
}

@media screen and (max-width: 360px) {
   .special-projects__image {
      min-width: 336px;
      max-height: 200px;
      min-height: 200px;
      object-position: top;
   }
}