.main__slider {
   padding-top: 26px;
   min-width: 910px;  
   align-self: center;
}

@media screen and (max-width: 930px) {
   .main__slider {
      max-width: 800px;
      min-width: 0;
   }  
}

@media screen and (max-width: 800px) {
   .main__slider {
      max-width: 400px;
       margin: 0 auto;
       padding-top: 10px;
   }  
}

@media screen and (max-width: 400px) {
   .main__slider {
       max-width: 300px;
       margin: 0 auto;
       padding-top: 10px;
   }  
}
