.button-arrow_style_circle {
	width: 36px;
	height: 36px;
	border: 1px solid #323232;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.button-arrow_style_circle:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1155px) {
    .button-arrow_style_circle{
		width: 32px;
		height: 32px;
}
}

