.button-arrow_style_green {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: #A5CDAB;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.button-arrow_style_green:hover {
	background-color: #97BA9C; /*Этого эффекта нет, но сделал по аналогии с большими кнопками.*/
}

.button-arrow_style_green:active {
	background-color: #7A9F80; /*И этого не было*/
}

@media screen and (max-width: 930px) {
    .button-arrow_style_green{
		width: 32px;
		height: 32px;
        }
}