.header__navigation{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    font-family: PT Sans, Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

@media screen and (max-width: 768px) {
  .header__navigation{
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 620px) {
  .header__navigation{
      display: none;
      }
  
}