.header__navigation{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    font-family: PT Sans, Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.header__navigation li{
    padding: 12px 10px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

.header__navigation li:hover{
  cursor: pointer;
  border-bottom: 1px solid #323232;
}
