.header__menu-mobile{
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: minmax(310px, 615px);
    grid-template-rows: 49px auto auto 100vh;
    box-sizing: border-box;
    padding: 0 12px;
    background-color: #E7E4DE;
}

@media screen and (min-width: 616px) {
    .header__menu-mobile{

        display: none;
    }


}