.footer__link-element{
        align-items: center;
        display: flex;
        gap: 8px;
        cursor: pointer;
        text-decoration: none;
        color: #323232;
        transition: all 0.3s linear;
}

.footer__link-element:hover{
        transform: scale(1.1);
    }

    @media screen and (max-width: 930px) {
        .footer__link-element {
                gap: 0px;
         }
    }