.diary__navigation {
	display: none;
	width: 48px;
	height: 8px;
}

@media (max-width: 530px) {
	.diary__navigation {
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 20px;
		left: 0; 
  		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
	}
}