/*.main__dialogs {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 678px;
    margin: 0 auto;
}


@media screen and (max-width: 800px) {
    .main__dialogs {
        padding-top: 10px;
        max-width: 400px;
    }  
}

@media screen and (max-width: 400px) {
    .main__dialogs {
        padding-top: 10px;
        max-width: 280px;
        font-size: 18px;
        line-height: 20px;
    }  
}

