.tipical-img {
    max-width: 910px;
    align-self: center;
    padding-top: 26px;
}

@media screen and (max-width: 400px) {
    .tipical-img {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 10px;
    }  
}

@media screen and (max-width: 500px) {
    .tipical-img {
        max-width: 400px;
    }  
}

@media screen and (max-width: 800px) {
    .tipical-img {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 10px;
    }  
}