.text__PTsans-p-16px{
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

@media screen and (max-width: 768px) {
    .text__PTsans-p-16px {
        font-size: 12px;
        line-height: 16px;
    }
    
}