/*.main__subtitle {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 25px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .main__subtitle {
    }  
}