.tipical-video__name {
    font-family: 'PT Sans','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    max-width: 562px;
    border-bottom: 1px solid rgba(12, 6, 38, 0.7);;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 4px auto;
}

@media screen and (max-width: 400px) {
    .tipical-video__name {
        margin: 0 auto;
        width: 300px;
    }  
}

@media screen and (max-width: 800px) {
    .tipical-video__name {
        margin: 0 auto;
        max-width: 400px;
    }  
}