.slider__button {
   min-height: 16px;
   min-width: 18px;
   padding: 0;
   border: 0;
   cursor: pointer;
   background: none;
   display: block;
   margin-top: 260px;
}

@media screen and (max-width: 927px) {
   .slider__button {
      margin-right: 30px;
      margin-top: 0;
   }

   .slider__button:last-child {
      margin-right: 0;
   }
}
