.slider__button {
   min-height: 16px;
   min-width: 18px;
   padding: 0;
   border: 0;
   cursor: pointer;
   background: none;
}



@media screen and (max-width: 927px) {
   .slider__button {
      margin-right: 30px;
   }

   .slider__button:last-child {
      margin-right: 0;
   }
}