.media__title-button-tablet{
    display: none;
    margin: 0 0 0 auto;
    align-items: center;
    gap: 20px;
    font-family: 'PT Sans','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    }

@media screen and (max-width: 930px) {
    .media__title-button-tablet{
        display: flex;
        }
}

@media screen and (max-width: 620px) {
    .media__title-button-tablet{
display: none;
        }
}