.document-card__header{
margin: 0 auto 0 0;
font-family: 'WF', serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 100%;
color: #323232;
}

@media screen and (max-width: 768px ) {
    .document-card__header{
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px ) {
    .document-card__header{
        font-size: 26px;
        line-height: 32px;
    }
}