.slider__gallery {
    display: flex;
    max-width: 678px;
    border-bottom: 1px solid rgba(12, 6, 38, 0.7);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .slider__gallery {
        max-width: 400px;
        margin-top: 10px;
    }  
}

@media screen and (max-width: 400px) {
    .slider__gallery {
        max-width: 300px;
        margin-top: 10px;
    }  
}