@media screen and (max-width:360px) {
    

.slider-3d__card-1{
    position: absolute;
    width: 252px;
    height: 100%;
    left: calc(50% - 126px);;
    top: 0;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px); 
}

}