.media__content-header{
grid-area: header;
display: flex;
align-items: center;
padding:16px 0 0 20px;
margin: 0;
box-sizing: border-box;

font-family: 'WF';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 120%;
color: #323232;
}

@media screen and (max-width: 930px) {
    .media__content-header{
        font-size: 30px;
        line-height: 37px;
        padding:16px 0 0 15px;
    }
    
}

@media screen and (max-width: 620px) {
    .media__content-header{
        display: none;
    }
    
  }