.player__back-button{
    background: transparent;
    background-image: url(../../../images/player/Back.svg);
    background-repeat: no-repeat;
    background-size: contain ;
    box-sizing: border-box;
    border: none;
    margin: 0.5px 16.7px 4.7px 4.7px;
    width: 23px;
    height: 26px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.player__back-button:active{
    transform: scale(1.2);
}

@media screen and (max-width:800px) {
    .player__back-button{
        margin-right: 0px;
    }
}