.card-magazine-exp__title {
    margin: 32px 0 0;
}

@media screen and (max-width: 768px) {
    .card-magazine-exp__title {
        margin-top: 12px;
    }
}

@media screen and (max-width: 360px) {
    .card-magazine-exp__title {
        margin-top: 16px;
    }
}