.media{
    margin-top: 76px;
    display: grid;
    grid-template-columns: 477px 827px 136px;
    grid-template-rows: 71px 609px;
    grid-template-areas:
    "title header buttons"
    "title cards cards";
}