.text__pt_sans_middle {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #323232;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .text__pt_sans_middle {
        font-size: 14px;
        line-height: 18px;
    }
    
}
