.tipical-img__name {
    font-family: 'PT Sans','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 562px;
    border-bottom: 1px solid rgba(12, 6, 38, 0.7);;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 116px 0 auto;

}


@media screen and (max-width: 800px) {
    .tipical-img__name {
        padding-top: 0;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }  
}


@media screen and (max-width: 400px) {
    .tipical-img__name {
        padding-top: 0;
        max-width: 300px;
        margin: 0;
        margin-top: 20px;
        font-size: 11px;
    }  
}

