.popup-sticky__button-close {
	width: 24px;
	height: 24px;
	background-image: url(../../../images/buttons/close_button.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: -24px;
	cursor: pointer;
}

.popup-sticky__button-close:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in;
}