.main__dialog {
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .main__dialog {
        margin: 0 auto;
    }  
}

@media screen and (max-width: 800px) {
    .main__dialog {
        margin: 0 auto;
    }  
}