.special-projects__cards {
   display: flex;
   gap: 20px;
}

@media screen and (max-width: 768px) {
   .special-projects__cards {
      gap: 14px;
   }   
}

@media screen and (max-width: 620px) {
   .special-projects__cards {
      gap: 24px;
      flex-direction: column;
      align-items: baseline;
   }   
}