.special-projects__heading {
   font-family: 'WF';
   font-weight: 400;
   font-size: 26px;
   line-height: 100%;
   margin: 0 0 18px;
}

@media screen and (max-width: 768px) {
   .special-projects__heading {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 8px;

   }
}