.media__title-button-mobile{
    display: none;
    align-items: center;
    color: #323232;
    
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    gap: 18px;
    margin: 0;
    
}

@media screen and (max-width: 620px) {
    .media__title-button-mobile{
        display: flex;
        }
}