.document-card__link-description{
    color: rgba(50, 50, 50, 0.5);
    margin: 0;

}

@media screen and (max-width: 768px ) {
    .ddocument-card__link-description{
        font-size: 14px;
        line-height: 18px;
    }
}