.popup-sticky__text {
	max-width: 189px;
	height: 36px;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #323232;
	margin: 0;
	margin-top: 12px;
	margin-left: 24px;
}