.special-projects__card {
   display: flex;
   text-decoration: none;
   color: #323232;
   background-color: #F7F4F0;
   max-width: 678px;
}

@media screen and (max-width: 768px) {
   .special-projects__card {
      flex-direction: column;
   }
}

@media screen and (max-width:360px) {
   .special-projects__card {
      background: none;
   }
}