.footer{
    display: flex;
    flex-direction: column;
    height: 181px;
    max-width: 1375px;
    margin: auto;
    padding: 0 17px;
}

@media screen and (max-width: 930px) {
    .footer{
        height: 207px;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        padding: 0 12px;
        height: 276px;
     }
}