.magazine__cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 36px auto auto;
    justify-content: center;
    column-gap: 80px;
    row-gap: 62px;
}

@media screen and (max-width: 768px) {
    .magazine__cards {
        margin-top: 18px;
        column-gap: 40px;
    }
    
}