.text__h2 {
    font-family: 'WF', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #323232;
}

@media screen and (max-width: 768px) {
    .text__h2 {
        font-size: 24px;
        line-height: 100%;
    }
    
}

@media screen and (max-width: 320px) {
    .text__h2 {
        font-size: 26px;
        line-height: 100%;
    }
    
}