.search-banner__buttons { 
	display: flex;
	gap: 20px;
   grid-area: btn;
}

@media screen and (max-width: 768px) {
	.search-banner__buttons {
		gap: 12px;
	}
}

@media screen and (max-width: 700px) {
	.search-banner__buttons {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 360px) {
	.search-banner__buttons {
		
		gap: 16px;
	}
}