.search-banner__buttons {
	width: 678px; /*Поставил ширину блока кнопок, потому что блок ужат до размера блока в котором лежат кнопки. Ширина = кнопка + кнопка + отступ 20px. По идее ширину можно задать в __column-text. Пока работает и так, как надо.*/
	display: flex;
	justify-content: space-between;
}