.magazine__title {
    margin: 42px auto auto;
    text-align: center;
    font-size: 46px;
    line-height: 60px;
}

@media screen and (max-width: 768px) {
    .magazine__title {
        margin-top: 27px;
    }
}