.button-rectangle {
	width: 329px;
	height: 60px;
	border-radius: 8px;
	border: none;
	padding: 0;
	display: flex;
	justify-content: center;
	justify-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
}
