.button-rectangle {
	min-width: 329px;
	min-height: 50px;
	border-radius: 8px;
	border: none;
	padding: 0;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	cursor: pointer;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
	.button-rectangle {
		min-width: calc(237px + (329 - 237) * ((100vw - 768px) / (1000 - 768)));
	}
}

@media screen and (max-width: 768px) {
	.button-rectangle {
		min-width: 237px;
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (max-width:768px) and (min-width: 620px) {
	.button-rectangle {
		min-width: calc(182px + (237 - 182) * ((100vw - 620px) / (768 - 620)));
	}
}

@media screen and (max-width: 360px) {
	.button-rectangle {
		width: 100%;
		min-width: 0;
	}
}