.tipical-video__play {
    display: block;
    margin: auto;
    padding: 0;
    background-image: url(../../../images/type-page/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    width: 110.72px;
    height: 110px;
}

@media screen and (max-width: 400px) {
    .tipical-video__play {
        width: 70px;
        height: 70px;
    }  
}