.tipical-video__play {
    width: 678px;
    height: 379px;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    background-image: url(../../../images/type-page/type_page-video_player.svg);
    background-position: center;
}

@media screen and (max-width: 400px) {
    .tipical-video__play {
        width: 300px;
        height: 270px;
    }  
}