.media__content-buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 32px 0 0;
    height: 100%;
    gap: 12px;
    height: 100%;
}

@media screen and (max-width: 806px) {
    .media__content-buttons{
        padding: 16px 18px 0 0;
    }
    
}

@media screen and (max-width: 620px) {
    .media__content-buttons{
        display: none;
    }
    }