.slider__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 800px) {
    .slider__text {
        font-size: 14px;
        line-height: 18px;
    }  
}

@media screen and (max-width: 400px) {
    .slider__text {
        font-size: 12px;
        line-height: 14px;
    }  
}